{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Change Password" %}</h1>
    <p class = "text-center">{% trans 'Your password is now changed.' %}</p>
    <p class="text-center"  >{% blocktrans %}<a href="/accounts/login">sign in</a>.{% endblocktrans %}</p>
    <center><img src="{% static "assets/img/img-logo2.png" %}" width="240" height="120"></center>
{% endblock %}
