{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" class="form-horizontal form-signin" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <center><input type="submit" name="action" class="btn btn-custom" value="{% trans 'change password' %}"/></center>
            </form>
        {% else %}
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    <center><img src="{% static "assets/img/cric-logo2.png" %}" width="240" height="120"></center>
{% endblock %}
